.swiper-container {
    width: 100%;
    height: 100%
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


ion-label {
	white-space: pre-line!important;
}

data-bold {
    white-space: pre-line!important;
	font-size: 1.3rem;
    font-weight:bold !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

ion-title {
	text-overflow: unset;
    white-space: unset;
}
  

